<section class="info" id="info">
  <h2 class="section-title">What's a campfire?</h2>
  <div class="info-content">
    <p>- Campfire is a game jam that is going to be run in over 200 cities around the world at the same time!</p>
    <p>
      - Campfire SF will be a 24 hours event to ignite your passion for coding, create new friends, and ship an awesome
      project.
    </p>
    <p>
      - Campfire is 100% free for all participants, and is possible because of our sponsors. You can expect awesome
      prizes, delicious food, and awesome swag for everyone!
    </p>
    <p>
      - Hackathons have changed my life, and I promise that Campfire SF will be an unforgettable experience. We can't
      wait to see you there!
    </p>
  </div>
</section>

<style>
  .info {
    position: relative;
    z-index: 5;
    padding: 6rem 2rem;
    padding-bottom: 180px;
    background-color: var(--starfuel);
    min-height: 50vh;
  }

  .section-title {
    font-family: "Dreamplanner", sans-serif;
    font-size: clamp(2rem, 5vw, 3rem);
    color: var(--cream);
    text-align: center;
    margin-bottom: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .info-content {
    max-width: 1000px;
    margin: 0 auto;
    color: var(--cream);
    font-size: 1.2rem;
    line-height: 1.6;
  }

  .info-content ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
  }

  .info-content li {
    margin-bottom: 1rem;
  }

  @media (max-width: 768px) {
    .info {
      padding: 4rem 1.5rem;
      padding-bottom: 150px;
    }

    .info-content {
      font-size: 1rem;
    }
  }
</style>
